<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-title class="ios title-ios hydrated">Videojuegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="bookingForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Director</ion-label>
        <ion-input formControlName="director" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Desarrollador</ion-label>
        <ion-input formControlName="desarrollador" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Distribuidor</ion-label>
        <ion-input formControlName="distribuidor" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Modo de Juego</ion-label>
        <ion-input formControlName="mododejuego" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Plataforma</ion-label>
        <ion-input formControlName="plataforma" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Motor</ion-label>
        <ion-input formControlName="motor" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Idioma</ion-label>
        <ion-input formControlName="idioma" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Ingresar Videojuegos</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>