<ion-header>
  <ion-toolbar>
    <ion-title>
      Información de Videojuegos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
  

    <ion-item *ngFor="let booking of Bookings" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="game-controller-outline"></ion-icon> {{booking.name}}
        </h5>
        <p>
          <ion-icon name="grid-outline"></ion-icon> {{booking.plataforma}}
        </p>
        
      </ion-label>

      <div class="item-note" item-end>
        <!--
          <button ion-button clear [routerLink]="['/editar-dato/', booking.$key]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
      -->
        <button ion-button clear (click)="deleteBooking(booking.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
      
    </ion-item>

    
  </ion-list>
